
html {
margin: 0;
padding: 0;
text-transform: capitalize;
min-height: 100vh;
}

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}


h1 {
color: #FFF;
}

.therealdeal {

position: absolute;
top: 68px;
left: 79px;
}

.tradeinoldgames {
color:#FFF;
position: absolute;
bottom: 125px;
left: 90px;       
}

h1, .vr-cta-view-more {
font-family: 'Russo One', sans-serif;
font-size: 2rem;
text-align: center;
}

h2 {
font-family: 'Russo One', sans-serif;
font-size: 2.3rem;
padding: 10px;
}

h3, p {
font-family: 'ubuntu', sans-serif;
}

header {
background-color:#198EE4;
display: flex;
align-items: center;
color: #FFF;
justify-content: flex-end;
height: 125.6px;   

}


 .logo {
margin-right: auto;
}
   
footer {
background-color: #898880;
}

.footer_section_2 {
 border-top-color: black;
 text-align: center;
 border-top-style: solid;
}

/*search*/
.search {
display: flex;
display: inline-flex;   
}

.button {

margin: 0px 5px;
display: none;
font-family: 'Russo One', sans-serif;
background-color: #FFF;
padding: 2px 4px;
border-radius: 3px;
border: 0;
color: #198EE4;
}

#site-search {
max-width: 75px;
height: 20px;
border-radius: 3px;
display: none;
border: 0;
}


.searchtool {
    display: none;
}

/*Links*/

.logo img {
height: 85px;
margin: 15px 0px -10px 10px;   
}

 a {
text-decoration: none;
color: #fff;
}

h2  a {
text-decoration: none;
color: #198EE4;
}

.active {
    text-decoration: underline;
}

nav {   
display: none;
position: absolute;
top: 103px;
background-color: #198EE4;
z-index: 1000;
right: 0px;
font-family: 'Russo One', sans-serif;

}

nav li {
display: block;
padding: 20px 10px;
}

nav ul {
    margin: 5px;
}

li a {
margin-top: 5px;
}

.cta {

position: absolute;
background-color: #FC1222;
border-radius: 10px;
padding: 5px 10px 5px 10px;
border-style: solid;
border-color : #fff;
font-size: 1.8rem;
font-family: 'Russo One', sans-serif;
bottom: 67px;
right:90px;
}



.cta-view-more {
background-color: #198EE4;
border-style: solid;
border-radius: 10px;
padding: 5px 15px 5px 15px;
font-size: 1.5em;
font-family: 'Russo One', sans-serif;
margin-top: 20px;
display: none;
}

.cta-view-more:hover {
background-color: #fff;
border-style: solid;
color: #198EE4;
}
      
.user-account {
display: none;
}

#hamburger-menu{
display: none;
}

#hamburger-menu:checked ~ nav {
display: block;
}

.hamburgerbars {

margin-top: 85px;
margin-right: 5%;
text-align: end;
font-size: 25px;
padding:6px;   
z-index: 1001;
}

.login-mobil {
margin-left: auto;
padding-right: 15px;
padding-top: 75px;
font-family: 'Russo One', sans-serif;
font-size: 24px;
z-index: 1001;
}



.vr-cta-view-more {
position: absolute;
background-color: #FC1222;
border-radius: 18px;
padding: 15px 30px 15px 30px;
border-style: solid;
border-color : #fff;
font-size: 1.9em;
bottom: -40px;
right: 20px;
}

.vr-cta-view-more:hover {
border-color : #D31421;
background-color: #D31421;
}

.login {
display: none;
}

/*footer*/

.logo-footer img {
height: 120px;
display: none;
}



.signup {
color: #fff;
font-weight: bolder;
}

.footer_section_1 h4 {
padding-bottom: 3px;
}

.footer_section_1 {
margin-left: 30px;
padding: 5px;
margin-bottom: 10px;
}

.footerstyle {
    padding-top: 35px;
}

.footerstyle p {
padding: 4px;
}

.footerstyle a {
    color: #000;;
}



/*homepage*/

.backgroundpic {
background-image:url(../Images/world-collapse-doomsday-scene-digital-painting.png);
background-size: cover;
display: block;
height: 350px;
position: relative;
}

/*dekorations viewport +1200px*/

.border1, .border2, .border3, .border4 {
 border-style: solid;
 position: absolute;
 color: #FFF;
 display: none;
}

.border1 {
right:300px;
top:100px; 
width: 3px;
height: 360px;
}

.border2 {
right:300px;
top:100px; 
width: 23%;
height: 3px;
}

.border3 {
left:65px;
bottom:100px; 
width: 48%;
height: 3px;    
}   

.border4 {
left:65px;
bottom:100px; 
width: 3px;
height: 500px;
}

.vr-backgroundpicture {
background-image:url(../Images/vr-background-image.jpeg);
background-size: cover;
display: block;
height: 600px;
margin-top: 20px;
display: none;
position: relative;
}

.games-image {
width: 250px;
height: 250px;
border-radius: 15px;
}

.games-image:hover {
width: 275px;
transition: all 0.3s ease-out;
}

.social-media {
background-color: #1D83CD;
text-align: center;
color: #FFC02E;
padding-top: 25px;
font-size: 35px;
padding-bottom: 20px;
}

h3 {
font-family: 'Nanum Pen Script', cursive;
padding-bottom: 20px;
}

.social-media-icons {
padding-bottom: 25px;
font-size: 100px;
color: #fff;
display: flex;
justify-content: space-around;
}

.game-picker {
display: flex;
flex-wrap: wrap;
justify-content: center;
}


.game-picker-child {
flex: 1 1 100px;
margin: 5px;
padding: 3%;
display: grid;
place-items: center;
}


.paragraph {
position: absolute;
background-color: #fff;
width: 260px;
height: 60px;
border-radius: 20px;
padding: 30px;
bottom: -25px;
left: 40px;    
}

.vr-paragraph {
font-weight: bold;
}


/*media*/

@media (min-width: 600px){

nav, nav li {
display: inline;
}


.backgroundpic {
height: 550px;
}

.social-media-icons {
font-size: 150px;   
}

.login-mobil {
display: none;
}

.hamburgerbars {
display: none;
}

.cta-view-more {
display: inline-flex;
}

.login {
display: inline;
}

nav ul {
    margin: 0px;
}
}


@media (min-width: 601px) and (max-device-width: 1199px) {
.searchtool {
    display: inline-flex;
}
}

@media (min-width: 1200px){

    .vr-backgroundpicture {

       display: block;
       margin-bottom: 120px;
        }


    .backgroundpic { 
       
        height: 750px;
        margin-bottom: 30px;
}

h1, .cta {
    
    font-size: 3rem;

    }

    .footer_section_1, .footer_section_2 {

        display:grid;
        grid-auto-flow: column;
        margin-bottom: 15px;
                  
    }

    .footer_section_1, .footer_section_2 h4  {
        padding-top: 25px;
        
    }

    .logo-footer img {
        height: 120px;
        display:block;
        margin: 30px 0px 20px 30px;
    }


  
    .border1, .border2, .border3, .border4 {

        display: inline;
    }

.button, #site-search {
    display: inline-flex;
}

.button:hover {
    color: #fff;
    background-color: #198EE4 ;
    border: #fff;
     
}

.cta:hover {
    border-color : #D31421;
    background-color: #D31421;
    }

    nav ul {
        margin: 0px;
    }
    }
