

html {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    min-height: 100vh;
}
 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 

h1, .vr-cta-view-more {
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 2.2rem;
    padding: 10px;
}

h3, p {
    font-family: 'ubuntu', sans-serif;
}

header {
    background-color:#1579C1;
    display: flex;
    align-items: center;
    color: #FFF;
    justify-content: flex-end;
    height: 125.6px;   
    position: relative;
    z-index: 1;
}

 .logo {
    margin-right: auto;
}
   
footer {
    background-color: #96968D;
}

.footer_section_2 {
    border-top-color: black;
    text-align: center;
    border-top-style: solid;
}

/*search*/
.search {
    display: flex;
    display: inline-flex;   
}

/*Links*/

.logo img {
    height: 85px;
    margin: 15px 0px -10px 10px;   
}

 a {
    text-decoration: none;
    color: #fff;
}

h2  a {
    text-decoration: none;
    color: #1579C1;
}

h3 {
    font-family: 'Nanum Pen Script', cursive;
    padding-bottom: 20px;
    }

.active {
    text-decoration: underline;
}

nav {   
    display: none;
    position: absolute;
    top: 125px;
    background-color: #1579C1;
    z-index: 1000;
    right: 0px;
    font-family: 'Russo One', sans-serif;
}

.gamepicker h2:hover, nav li a:hover {
    color: black;
}

nav li {
    display: block;
    padding: 10px 8px;
    line-height: 0.5;
}

nav ul {
    margin: 5px;
}

li a {
    margin-top: 5px;
}

/* nav dropdowlist start*/

.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown_hardware {
    display: none;
    position: absolute;
    background-color: #1579C1;
    z-index: 9000; 
   margin-top: 10px;
}

.dropdown_hardware ul {
color: #fff;
display: block;
}

.dropdown_hardware ul:hover {
    background-color: #1579C1;
    padding: 20px 20px;
    margin-top: 3px;
}

.dropdown:hover >ul {
    display: none; 
}

/* nav dropdowlist end*/

.cta {
    position: absolute;
    background-color: #FC1222;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    border-style: solid;
    border-color : #fff;
    font-size: 1.1rem;
    font-family: 'Russo One', sans-serif;
    bottom: 65px;
    right:17px;
    z-index: 1001;
}

.cta-view-more {
    background-color: #1579C1;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    font-size: 1.5em;
    font-family: 'Russo One', sans-serif;
    margin-top: 20px;
    display: none;
}

.cta-view-more:hover {
    background-color: #fff;
    border-style: solid;
    color: #1579C1;
}
      
.user-account, #hamburger-menu, .login  {
    display: none;
}


#hamburger-menu:checked ~ nav {
    display: block;
}

.hamburgerbars {
    margin-top: 85px;
    margin-right: 5%;
    font-size: 25px;
    padding:6px;   
    z-index: 1001;
}

.login-mobil {
    margin-left: auto;
    padding-right: 15px;
    padding-top: 75px;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    z-index: 1001;
}

.vr-cta-view-more {
    position: absolute;
    background-color: #FC1222;
    border-radius: 18px;
    padding: 15px 30px 15px 30px;
    border-style: solid;
    border-color : #fff;
    font-size: 1.9em;
    bottom: -40px;
    right: 20px;
}

.vr-cta-view-more:hover {
    border-color : #D31421;
    background-color: #D31421;
}

.searchbutton {
    color: #1579C1;
    background-color: #fff;
    border-radius: 3px;
    padding: 7px 5.5px 7px 5.5px;
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
    display: none;  
}

.snapchat:hover, .facebook:hover, .snapchat:hover {
    color: #000;
}

.searchfield input {
    border:0;
    border-radius: 3px;
    max-width: 75px;
    display: none;
    height: 22px;   
}

/*footer*/

.logo-footer img {
    height: 120px;
    display: none;
}

.signup {
    color: white;
    font-weight: bold;
}

.visitbold, .contactbold {
    font-weight: bold;
}

.footer_section_1 h4 {
    padding-bottom: 3px;
}

.footer_section_1 {
    margin-left: 30px;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    
}

.footerstyle {
    padding-top: 35px;
}

.footerstyle p {
    padding: 4px;
}

.footerstyle a {
    color: #000;
}

.signup a {
    color: #fff;
}

/*homepage*/

.therealdeal {
    position: absolute;
    top: 50px;
    left: 27px;
    color: #fff;
}

.tradeinoldgames {
    color:#FFF;
    position: absolute;
    bottom: 12px;
    left: 18px;       
}

.backgroundpic {
    background-image:url(../Images/world-collapse-doomsday-scene-digital-painting.png);
    background-size: cover;
    display: block;
    height: 350px;
    position: relative;
}

/*dekorations Homepage only for viewport +1200px*/

.border1, .border2, .border3, .border4 {
    border-style: solid;
    position: absolute;
    color: #FFF;
    display: none;
}

.border1 {
    right:300px;
    top:100px; 
    width: 3px;
    height: 360px;
}

.border2 {
    right:300px;
    top:100px; 
    width: 23%;
    height: 3px;
}

.border3 {
    left:65px;
    bottom:100px; 
    width: 48%;
    height: 3px;    
}   

.border4 {
    left:65px;
    bottom:100px; 
    width: 3px;
    height: 500px;
}
/* End dekorations Homepage only for viewport +1200px*/


/*VR section*/

.vr-backgroundpicture {
    background-image:url(../Images/vr-background-image\ copy.jpg);
    background-size: cover;
    display: block;
    height: 600px;
    margin-top: 20px;
    display: none;
    position: relative;
}
.vr-backgroundpicture h1 {
    position: absolute;
    top:25px;
    left:25px;
    font-size: 60px;
}

.games-image {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.games-image:hover {
    width: 260px;
    transition: all 0.3s ease-out;
}

.social-media {
    background-color: #1D83CD;
    text-align: center;
    color: #FFC02E;
    padding-top: 25px;
    font-size: 35px;
    padding-bottom: 20px;
}

.social-media-icons {
    padding-bottom: 25px;
    font-size: 100px;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

.game-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-picker-child {
    flex: 1 1 100px;
    margin: 5px;
    padding: 3%;
    display: grid;
    place-items: center;
}

.paragraph {
    position: absolute;
    background-color: #fff;
    width: 260px;
    height: 60px;
    border-radius: 20px;
    padding: 30px;
    bottom: -25px;
    left: 40px;    
}

.vr-paragraph {
    font-weight: bold;
}

/*contact*/

.contact_container{
    display: flex;
    flex-direction: column;
    color: #000;
    min-height: 100vh; 
    max-width: 340px;
    align-content: center;
    margin: auto;
}

.contact_header{
    text-align: start;
    margin: 30px 0px 10px 20px;
}

.chat, .call {
    background: #d0d0ca;
    border-radius: 10px;
    margin:35px 20px 10px 20px;
    padding: 15px;
    text-align: center; 
    position: relative;
    top: -10px;
}

.signupfields {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.signupfields input {
    margin-bottom: 30px;
    border-color: #1D83CD;
    border-radius: 5px;
    line-height: 30px;
    padding: 10px;
    height: 35px;
    min-width: 230px;
    justify-content: center;
}

.signupfields textarea {
    border-color: #1D83CD;
    border-radius: 5px;
}

.signupfields label {
    padding-bottom: 10px;
    color:#1D83CD;
    margin-left: 0px;
}

.signupfields h2{
    font-size: 1.5em;
    padding: 10px;
  }

  .contact h2 {
    font-family: 'ubuntu', sans-serif;
  }

.cta_send{
    color: #fff;
    background-color: #1579C1;
    padding: 3px 60px 3px 60px;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    margin: 30px auto 80px auto;
}

.start_chat{
background-color: #1579C1;
border-radius: 3px;
padding: 7px 20px 7px 20px;
font-size: 16px;
}

.chat p, .call p {
    margin: 10px;
    padding:8px;
}

.call a {
    color:#000;
    text-decoration: underline;
}


/*Furious add to cart*/

.furious {
    text-align: center; 
     
}

.furious_img {
    position: relative;
   display: block;
   width: 85%;
   left:7.5%;
}
.furious h1 {
    font-size: 45px;
    margin-bottom: 10px;
}
.furious h2 {
    font-size: 1.6rem;
    margin-top: 27px;
}


.name_price_container {
    width: 85%;
    position: relative;
    margin: auto;
}
.paragraph_fur{
    position: relative;
   text-align: left;
   font-family: 'ubuntu', sans-serif;
   font-weight: bold;
   font-size: 25px;
   
}

.price_furious {
    position: relative;
    text-align: right;
    top:-26px;
    margin-bottom: 15px;
    font-family: 'ubuntu', sans-serif;
    font-weight: bold;
    font-size: 25px;
}


.add_to_cart_container{
    margin-bottom:40px;
}
.add_to_cart {
    background-color: #1579C1;
    border-radius: 15px;
    padding: 15px 60px 15px 60px;
    font-size: 25px;
    font-family: 'Russo One', sans-serif;
    }

    .ratings p {
        display: inline-flex;
        margin-bottom: 25px;
        
    }
    .text_furious{
        display: block;
        text-align: left;
        margin:auto;
        max-width: 85%;
    }

    /*new releases*/

    .new_releases_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .new_releases_games_1 {
        width: min(80%, 700px);
        text-align: center;
        margin:auto;  
        position: relative;
        margin-bottom: 20px;
    }

    .new_releases_games_1 img {
        width: min(80%, 700px);
        margin:10px 0 10px 0;
    }

    

    .buy_now {
    background-color: #1579C1;
    width: 100px;
    text-align: center; 
    }
   

 


/*media*/

@media (min-width: 600px){

nav, nav li {
    display: inline-flex;
}

.dropdown:hover >ul {
    display: block;  
}

.backgroundpic {
    height: 550px;
}

.social-media-icons {
    font-size: 150px;   
}

.login-mobil, .hamburgerbars, .searchfield, .searchbutton {
    display: none;
}

.cta-view-more {
    display: inline-flex;
}

nav ul {
    margin: 0px;
}
.login {
    display: inline-flex;
    }
    
nav {
    top: 84px;
}

.cta {
    right:90px;
    font-size: 1.8rem;
}

/*contactpage*/

.contact_container{
    position: relative;
    top:50px;
    flex-direction: row;
    justify-content: center;
    flex:1;
}

.contact {
    border-left: #96968D;
    width: 500px;
}
.call {
    margin-top:50px;
    height: 200px;
}
.chat {
    display: inline-block;
    min-width: 300px;
    margin-block-start: 30px;
    height: 200px;
}


}

@media (min-width: 1200px){

.vr-backgroundpicture {
    background-image:url(../Images/vr-background-image_copy_adjusted\ copy.jpg);
    display: block;
    margin-bottom: 120px;
}

.backgroundpic {    
    height: 750px;
    margin-bottom: 30px;
}

h1, .cta {
    font-size: 3rem;
}

.footer_section_1, .footer_section_2 {
    display:grid;
    grid-auto-flow: column;   
}

.footer_section_1, .footer_section_2 h4  {
    padding-top: 25px;  
}

.logo-footer img {
    height: 120px;
    display:block;
    margin: 30px 0px 20px 30px;
}
  
.border1, .border2, .border3, .border4 {
    display: inline;
}

.cta:hover {
    border-color : #D31421;
    background-color: #D31421;
}
   
nav ul {
    margin: 0px;
}

.searchtool {
    display: none;
}

.login {
    display: inline-flex;
    padding-right: 0px;
}

.searchfield, .searchfield input, .searchbutton   {
    display: inline-flex;
}
    
nav {
    top: 78px;
}

.games-image:hover {
    width: 275px;
    transition: all 0.3s ease-out;
}

/*contactpage*/

.chat, .call {
 top: -32px;
    }   

.contact_container{
    gap: 25%;
}

.contact_header {
    position: relative;
    top:-20px;
}

/*furious add to cart*/
.furious {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.furious > * {
    flex-basis: 100%;
    margin:50px;
}

.furious_img {
    width:550px;
    margin-left: auto;
}


.sections_2{
    text-align: left; 
}

.text_furious {
    margin-left: auto;
    margin-left: 50px;
    top:165px;
    position: relative;
    height: 235px;
    
}

.add_to_cart{
    position: relative;
    top: 600px;
    text-align: left;
    margin-left: 46px;
}

.ratings{
    position: relative;
    top:365px;
    text-align: left;
    margin-left:50px;
}
.paragraph_fur{
    display: none;
}
.furious h1 {
    left:329px;
    top:127px;
    position: relative;
    text-align: right;
}

.section_1_h1 {
   text-align: right;
   position: relative;
   left: 266px;
   top: 125px;
}

.price_furious{
    color: red;
    text-align: left;
    top: 576px;
    left:18px;
    display: inline;

}
}