

html {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    min-height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



h1, .login-mobil, .cta {
    font-family: 'Russo One', sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

p {

    font-size: 1.2em;
}

h2, p {
    font-family: 'ubuntu', sans-serif;
}

h3{
    font-size: 35px;
}

header {
    background-color:#198EE4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    position: relative;
    font-size: 2rem;
    height: 150px   ;
}

footer {
    background-color: #898880;
    margin-top: 0%;
    line-height: 2;
    
}

footer {
    padding: 20px 0px 10px 20px; 

    
}

.footer_section_2 {

 margin-top: 15px;
 border-top-color: black;
 text-align: center;
 border-top-style: solid;
 padding-left: 10%;
 margin-left: -20px;
}

.margintop {
    margin-top: 20px;
    font-weight: bold;
}

/*Links*/

.logo img {
    height: 120px;
    margin-top: 15px;
    margin-left: 21px;
}

a {
    text-decoration: none;
    color: #fff;
}
h1  a {
    text-decoration: none;
    color: #198EE4;
}

nav {
    
    display: none;
    position: absolute;
    top: 145px;
    background-color: #198EE4;
    z-index: 1000;
    right: 0px;
    
}


nav li {
    display: block;
    padding: 15px 20px;
}

li a {
    margin-top: 10px;
}

.cta {
    
    
background-color: #FC1222;
border-radius: 10px;
padding: 5px 10px 5px 10px;
border-style: solid;
border-color : #fff;
font-size: 1.9em;
margin-top: -10px;
margin-left: 25%;
margin-right: 25%;
margin-bottom: 20px;
min-width: 250px;
   
    }

  
        
   .user-account {
       display: none;
   }

   #hamburger-menu{
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

 .hamburgerbars {
    position: relative;
    margin-top: 105px;
    align-content: flex-end;
    margin-right: 5%;
    
}

.login-mobil {
    margin-top: 100px;
}

i:hover {
    color: #000;
}

/*homepage*/

.backgroundpic {
    background-image:url(../Images/world-collapse-doomsday-scene-digital-painting.png);
    background-size: cover;
    display: block;
    height: 350px;

}

.games-image {
    height: 140px;
    width: 160px;
    border-radius: 10px;
    margin-left: 33%;
    margin-top: 10px;
    margin-bottom: 30px;
   display: flex;    
   justify-content: space-between;
}

.social-media {

font-family: 'Nanum Pen Script', cursive;
background-color: #1D83CD;
text-align: center;
color: #FFC02E;
padding-top: 25px;


}

.social-media-icons {
padding-bottom: 25px;
font-size: 100px;
color: #fff;
display: flex;
justify-content: space-around;
 
}



/* Footer*/







@media (min-width: 600px){

    nav, nav li {
        display: inline;
        
    }

    nav{
        margin-top: -35px;
    }

.game-picker {
   display: flex;
  
}

.game-picker > * {

    flex-basis: 100%;
}

.cta {
    margin-left: 40%;
   margin-right: 40%;

}


.backgroundpic {
    height: 550px;

}

.social-media-icons {
    
        font-size: 150px;
        
     
    }

    .login-mobil {
        display: none;
    }

    .hamburgerbars {
        display: none;
    }

}



